<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <h1>Add Campgrounds</h1>

    <form action="/campgrounds" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" />
      <br />
      <label for="price">Price:</label>
      <input type="text" id="price" name="price" />
      <br />
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" />
      <br />
      <label for="locationC">City:</label>
      <input type="text" id="locationC" name="locationC" />

      <label for="locationP">Province:</label>
      <input type="text" id="locationP" name="locationP" />
      <br />
      <button>Add Campground</button>
    </form>

    <a href="/campgrounds">All Campgrounds</a>
  </body>
</html>
